// -----------------------------------------------------------------------------
// listbox
// -----------------------------------------------------------------------------

.listbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .item {
    position: relative;
    flex: 1 1 auto;
    width: 320px;
    border: 1px solid $base-border-color;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: $base-radius;

    .h {
      width: 100%;
      margin-bottom: 10px;
      font-size: 1.1em;
    }

    .turn {
      position: absolute;
      top: -10px;
      left: -10px;
      width: 25px;
      height: 25px;
      line-height: 25px;
      color: $white;
      font-size: 0.7em;
      border-radius: 50%;
      text-align: center;
      background: rgba($black, 0.7);
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
    }

    img {
      width: 80px;
      object-fit: cover;
    }

    dl {
      margin: 0 20px;
    }

    dt {
      font-weight: bold;
    }

    &--watching {
      border: 1px solid $gray3;

      &::before {
        content: '관람예정';
        position: absolute;
        top: 0;
        right: 0;
        font-size: 11px;
        padding: 2px 5px;
        color: $black;
        background: rgba($color-primary, 0.1);
        border-radius: $base-radius;
      }
    }
  }

  .is-imgtype & {
    .item {
      width: auto;
      border: 0;
      bottom: 0;
      padding: 0;

      &::before {
        display: none;
      }

      img {
        width: 120px;
        border-radius: $base-radius;
      }
    }

    .h,
    dl {
      display: none;
    }
  }
}
