// -----------------------------------------------------------------------------
// Element Style Reset
// -----------------------------------------------------------------------------

html {
  background-color: #fff;
  font-size: 62.5%; // 10px
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  min-width: 280px;
  margin: 0;
  font-size: 1em;
  font-family: $font-main;
  -webkit-overflow-scrolling: touch;
}

// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

ul,
ol,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

em,
address {
  font-style: normal;
}

figure {
  margin: 0;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  height: 0;
}

button {
  -webkit-appearance: none;
  box-sizing: content-box;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

td {
  vertical-align: middle;
}

em {
  color: $color-primary;
}

small {
  font-size: 80%;
}

// Add the correct display in IE 9-.
audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  @include break-word;
}

p {
  @include break-word;
}

a {
  color: $gray7;
  text-decoration: none;
  background-color: transparent;

  // Remove gaps in links underline in iOS 8+ and Safari 8+.
  -webkit-text-decoration-skip: objects;
}

iframe {
  border: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

summary {
  display: list-item;
}

::selection {
  background: $gray7;
  color: $white;
  text-shadow: none;
}

input,
select {
  font: inherit;
}
