// -----------------------------------------------------------------------------
// Theme
// -----------------------------------------------------------------------------

// font
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script:400');
@import url('https://fonts.googleapis.com/css?family=Cute+Font:400');
@import url('https://fonts.googleapis.com/css?family=Poor+Story:400');
@import url('https://fonts.googleapis.com/css?family=Hi+Melody:400');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400');

#app.ff-nanum-gothic {
  font-family: 'Nanum Gothic';
}

#app.ff-nanum-myeongjo {
  font-family: 'Nanum Myeongjo';
}

#app.ff-nanum-pen-script {
  font-family: 'Nanum Pen Script';
  font-size: 1.8rem;
}

#app.ff-cute-font {
  font-family: 'Cute Font';
  font-size: 1.8rem;
}

#app.ff-poor-story {
  font-family: 'Poor Story';
  font-size: 1.8rem;
}

#app.ff-hi-melody {
  font-family: 'Hi Melody';
  font-size: 1.8rem;
}

// color Set
// -----------------------------------------------------------------------------

@mixin colorSet($color) {
  $color-root: $color;

  .header {
    background: $color-root;
  }

  .btn {
    &:hover,
    &:focus {
      border-color: $color-root;
      color: $color-root;
    }

    &--em {
      &:hover,
      &:focus {
        border-color: $color-root;
        background-color: $color-root;
      }
    }

    &--primary {
    color: $white;
      border-color: $color-root;
      background-color: $color-root;
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }

  em,
  .wordcloud .word-big {
    color: $color-root;
  }

  .calendar-body .item-txt.is-today {
    box-shadow: 0 0 0 2px $color-root inset;
  }

  .calendar-body .item-dots span {
    background: $color-root;
  }

  .textbox {
    background-image: linear-gradient(90deg, transparent 79px, $color-root 79px, $color-root 81px, transparent 81px),
      linear-gradient(rgba($gray4, 0.2) 1px, transparent 1px);
  }
}

#app {
  &.cset-1 { @include colorSet($color1); }
  &.cset-2 { @include colorSet($color2); }
  &.cset-3 { @include colorSet($color3); }
  &.cset-4 { @include colorSet($color4); }
  &.cset-5 { @include colorSet($color5); }
  &.cset-6 { @include colorSet($color6); }
  &.cset-7 { @include colorSet($color7); }
  &.cset-8 { @include colorSet($color8); }
  &.cset-9 { @include colorSet($color9); }
  &.cset-10 { @include colorSet($color10); }
  &.cset-11 { @include colorSet($color11); }
  &.cset-12 { @include colorSet($color12); }
  &.cset-13 { @include colorSet($color13); }
  &.cset-14 { @include colorSet($color14); }
  &.cset-15 { @include colorSet($color15); }
  &.cset-16 { @include colorSet($color16); }
  &.cset-17 { @include colorSet($color17); }
  &.cset-18 { @include colorSet($color18); }
  &.cset-19 { @include colorSet($color19); }
  &.cset-20 { @include colorSet($color20); }
}

// dark mode
// -----------------------------------------------------------------------------
.theme-dark {
  color: $gray3;
  background: $gray9;

  a,
  button,
  input,
  select,
  textarea {
    color: $gray3;
  }

  .btn {
    color: $white;
    border-color: $gray4;
  }

  input,
  select,
  textarea {
    border-color: $gray5;
  }

  .calendar-week,
  .userlist .filter,
  .listbox .item {
    border-color: $gray7;
  }
}
