// -----------------------------------------------------------------------------
// Table
// -----------------------------------------------------------------------------

.table {
  width: 100%;
  table-layout: fixed;
  border-left: 1px solid $base-border-color;
  border-right: 1px solid $base-border-color;
  border-bottom: 1px solid $base-border-color;
  border-collapse: collapse;

  th,
  td {
    padding: $base-tb $base-lr;
    border-top: 1px solid $base-border-color;
    border-left: 1px solid $base-border-color;
    text-align: center;
    @include break-word;

    &:first-child {
      border-left: 0;
    }
  }

  th {
    background-color: $base-bg-color;
  }

  &-wrap {
    overflow-x: auto;
  }

  // Set Colgorup Width
  &-cell {
    @for $i from 1 through 10 {
      &-1of#{$i} {
        width: percentage(1/$i);
      }
    }

    &-3of5 {
      width: 60%;
    }

    &-2of3 {
      width: 66.66%;
    }

    &-3of4 {
      width: 75%;
    }

    &-4of5 {
      width: 80%;
    }

    &-5of6 {
      width: 83.33%;
    }
  }

  // Text Style
  .talign-l {
    text-align: left;
  }

  .talign-c {
    text-align: center;
  }

  .talign-r {
    text-align: right;
  }

  .bg-gray {
    background: $gray0;
  }

  .bg-em {
    padding: 1rem 0;
    background-color: $gray1;
    border-bottom: $base-border-color;
    font-weight: bold;
  }
}
