// -----------------------------------------------------------------------------
// textbox
// -----------------------------------------------------------------------------

.borderbox {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid $base-bg-color;
  box-sizing: border-box;

  &+.listbox {
    margin-bottom: 20px;
  }
}

.textbox {
  width: 100%;
  font-weight: normal;
  resize: none;
  line-height: 35px;
  margin: 40px 0;
  padding: 35px 100px 70px;
  border: 1px solid $base-bg-color;
  background-image: linear-gradient(90deg, transparent 79px, $color-primary 79px, $color-primary 81px, transparent 81px),
    linear-gradient(rgba($gray4, 0.2) 1px, transparent 1px);
  background-size: 100% 35px;
  box-sizing: border-box;
  border-radius: $base-radius;
  box-shadow: $base-shadow;
}

.splitlist {
  >span {
    display: inline-block;
    margin-right: 3px;

    &::after {
      content: ',';
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }
}
