// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

%H {
  line-height: 1.4;
  margin-bottom: .5em;
}

// main fonts
h1 {
  font-size: 3.0rem;
  @extend %H;
}

h2 {
  font-size: 2.6rem;
  @extend %H;
}

h3 {
  font-size: 2.4rem;
  @extend %H;
}

h4 {
  font-size: 2.0rem;
  @extend %H;
}

h5 {
  font-size: 1.8rem;
  @extend %H;
}

h6 {
  font-size: 1.6rem;
  @extend %H;
}

@media (min-width: $mq-md) {
  h1 {
    font-size: 4.6rem;
  }

  h2 {
    font-size: 3.0rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}
