// -----------------------------------------------------------------------------
// Vue Transition
// -----------------------------------------------------------------------------

.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity .5s ease;
  }

  &-leave-active {
    position: absolute;
  }

  &-enter,
  &-leave-active {
    opacity: 0;
  }
}

.list {
  &-move {
    transition: all 0.4s ease-in-out 0.2s;
  }

  &-enter-active {
    transition: all 0.4s ease-out;
  }

  &-leave-active {
    transition: all 0.4s ease-in;
    position: absolute;
    z-index: 0;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter {
    transform: scale(0.5);
  }
}
