// -----------------------------------------------------------------------------
// Vue Transition
// -----------------------------------------------------------------------------

.list {
  &-move {
    transition: all 0.4 ease-in-out 0.2;
  }

  &-enter-active {
    transition: all 0.4 ease-out;
  }

  &-leave-active {
    transition: all 0.4 ease-in;
    position: absolute;
    z-index: 0;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter {
    transform: scale(0.5);
  }
}

.view {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.4;
  }

  &-leave-active {
    position: absolute;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}
