// -----------------------------------------------------------------------------
// Layout Components
// -----------------------------------------------------------------------------

#app {
  font-size: 1.5rem;
}

.main {
  margin-top: $header-height;
  min-height: calc(100vh - 90px);
}
