// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------

.footer {
  display: none;
  padding: 10px 0;
  font-size: 10px;
  text-align: center;
  color: $gray5;

  @media (min-width: $mq-lg) {
    display: block;
  }
}
