// -----------------------------------------------------------------------------
// Analysis
// -----------------------------------------------------------------------------

.analysis {
  padding: $gutter-sm;

  &-wrap {
    .item {
      margin-bottom: 100px;
    }
  }

  p {
    margin-bottom: 20px;
  }

  @media (min-width: $mq-md) {
    padding: $gutter-md;
  }

  @media (min-width: $mq-lg) {
    padding: $gutter-lg;

    &-wrap {
      display: flex;
      flex-wrap: wrap;

      .item {
        width: 50%;
      }
    }
  }
}
