// -----------------------------------------------------------------------------
// Calendar
// -----------------------------------------------------------------------------

.calendar {
  &-header {
    display: flex;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 0;
    align-items: center;
  }

  &-prev,
  &-next {
    padding: 10px;

    img {
      width: 20px;
    }
  }

  &-label {
    font-weight: bold;
  }

  &-week {
    box-sizing: border-box;
    padding: 8px 10px;
    border-top: 1px solid $base-border-color;
    border-bottom: 1px solid $base-border-color;

    span {
      display: inline-block;
      width: percentage(1/7);
      text-align: center;
      text-transform: uppercase;
      color: $gray5;
    }
  }

  &-body {
    display: flex;
    box-sizing: border-box;
    text-align: left;
    flex-wrap: wrap;
    align-items: stretch;
    height: 280px;

    .item {
      position: relative;
      overflow: hidden;
      box-sizing: border-box;
      width: percentage(1/7);
      min-height: 80px;
      max-height: percentage(1/6);
      text-align: center;

      &-txt {
        position: absolute;
        z-index: 20;
        top: 0;
        left: 0;
        display: flex;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        color: $gray5;
        align-items: center;
        justify-content: center;

        &.is-today {
          box-shadow: 0 0 0 2px $color-primary inset;
        }
      }

      &-img {
        position: relative;
        z-index: 11;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin: 1px;
        background: $base-bg-color;

        a {
          flex: 1;
        }

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      &-dots {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -15px;
        margin-top: -15px;
        width: 30px;
        height: 30px;

        span {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          background: $color-primary;
          width: 100%;
          height: 100%;
          margin: 1px;
          border-radius: 50%;
          opacity: 0.2;
        }
      }
    }

    // 테마에 따른 스타일
    &--vertical,
    &--horizontal {
      .item-img {
        a {
          &:first-child {
            img {
              object-position: 0 0;
            }
          }

          &:last-child {
            img {
              object-position: 100% 100%;
            }
          }

          &:only-child {
            img {
              object-position: 50% 50%;
            }
          }
        }

        img {
          height: 100%;
        }
      }
    }

    &--vertical {
      .item-img {
        a {
          height: 100%;
          padding-left: 1px;

          &:first-child {
            padding-left: 0;
          }
        }
      }
    }

    &--horizontal {
      .item-img {
        flex-direction: column;
        align-content: stretch;

        a {
          height: auto;
          padding-top: 1px;
          overflow: hidden;

          &:first-child {
            padding-top: 0;
          }
        }
      }
    }
  }

  @media (min-width: $mq-md) {
    max-width: $w-medium;
    margin: 0 auto;

    &-body {
      height: auto;

      .item {
        height: 150px;
        max-height: none;
      }
    }
  }
}
