// -----------------------------------------------------------------------------
// Home
// -----------------------------------------------------------------------------

.home {
  position: relative;

  &-type {
    position: absolute;
    top: 13px;
    left: 5px;
    z-index: 20;
  }

  &-btngroup {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 0;

    button:last-child {
      position: absolute;
      top: 10pxs;
      right: 10px;
    }
  }

  &-year {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: -15px;

    >div {
      width: percentage(1/2);
      flex-basis: percentage(1/2);
      flex: 1 1 auto;
      padding: 10px;
      box-sizing: border-box;
    }
  }

  @media (min-width: $mq-sm) {
    &-year {
      >div {
        width: percentage(1/3);
        flex-basis: percentage(1/3);
      }
    }

    &-cal {
      max-width: $w-medium;
      margin: 0 auto;
    }
  }

  @media (min-width: $mq-md) {
    &-year {
      >div {
        width: percentage(1/4);
        flex-basis: percentage(1/4);
      }
    }
  }

  @media (min-width: $mq-lg) {
    &-year {
      >div {
        width: percentage(1/4);
        flex-basis: percentage(1/6);
      }
    }
  }
}
