// -----------------------------------------------------------------------------
// setting
// -----------------------------------------------------------------------------

.setting {
  margin: 0 auto;
  max-width: $w-wrap;
  padding: $gutter-sm;

  input[type=number] {
    width: 60px;
  }

  input[type=file] {
    width: 50%;
    max-width: 100%;
  }

  .l-flex {

    .t,
    .cont {
      margin-bottom: 15px;
    }
  }

  .tit {
    text-align: center;

    img {
      width: 80px;
    }
  }

  .row {
    margin-bottom: 10px;
  }

  p {
    margin: 10px 0;
  }

  .colorset {
    button {
      background: $color1;
      color: $white;
      width: 180px;
      padding: 10px 0;
      margin: 0 10px 10px 0;
      text-align: center;
      box-sizing: border-box;
      display: inline-block;
      border-radius: $base-radius;
      font-size: 1.1rem;

      &.is-active {
        font-weight: bold;
        outline: 1px solid #fff;
        outline-offset: -4px;
      }

      &:nth-child(1) {
        background: $color1;
      }

      &:nth-child(2) {
        background: $color2;
      }

      &:nth-child(3) {
        background: $color3;
      }

      &:nth-child(4) {
        background: $color4;
      }

      &:nth-child(5) {
        background: $color5;
      }

      &:nth-child(6) {
        background: $color6;
      }

      &:nth-child(7) {
        background: $color7;
      }

      &:nth-child(8) {
        background: $color8;
      }

      &:nth-child(9) {
        background: $color9;
      }

      &:nth-child(10) {
        background: $color10;
      }

      &:nth-child(11) {
        background: $color11;
      }

      &:nth-child(12) {
        background: $color12;
      }

      &:nth-child(13) {
        background: $color13;
      }

      &:nth-child(14) {
        background: $color14;
      }

      &:nth-child(15) {
        background: $color15;
      }

      &:nth-child(16) {
        background: $color16;
      }

      &:nth-child(17) {
        background: $color17;
      }

      &:nth-child(18) {
        background: $color18;
      }

      &:nth-child(19) {
        background: $color19;
      }

      &:nth-child(20) {
        background: $color20;
      }
    }
  }

  @media (min-width: $mq-md) {
    padding: $gutter-md;

    .l-flex {
      display: flex;

      .t {
        flex: 0 0 100px;
      }

      .cont {
        flex: 1;
      }
    }
  }

  @media (min-width: $mq-lg) {
    padding: $gutter-lg;
  }
}
