// -----------------------------------------------------------------------------
// setting
// -----------------------------------------------------------------------------

.setting {
  input[type=number] {
    width: 60px;
  }

  input[type=file] {
    width: 50%;
    max-width: 100%;
  }

  .l-flex {
    .t,
    .cont {
      margin-bottom: 15px;
    }
  }

  .tit {
    text-align: center;

    img {
      width: 80px;
    }
  }

  .cont {
    .item+.item {
      margin-left: 20px;
    }
  }

  .row {
    margin-bottom: 10px;
  }

  p {
    margin: 10px 0;
  }

  .colorset {
    button {
      font-size: 0;
      background: $color1;
      color: $white;
      padding: 10px 0;
      margin: 0 10px 10px 0;
      text-align: center;
      box-sizing: border-box;
      display: inline-block;
      border-radius: $base-radius;
      width: 30px;
      min-height: 30px;

      &.is-active {
        font-weight: bold;
        outline: 1px solid #fff;
        outline-offset: -4px;
      }

      &:nth-child(1) { background: $color1; }
      &:nth-child(2) { background: $color2; }
      &:nth-child(3) { background: $color3; }
      &:nth-child(4) { background: $color4; }
      &:nth-child(5) { background: $color5; }
      &:nth-child(6) { background: $color6; }
      &:nth-child(7) { background: $color7; }
      &:nth-child(8) { background: $color8; }
      &:nth-child(9) { background: $color9; }
      &:nth-child(10) { background: $color10; }
      &:nth-child(11) { background: $color11; }
      &:nth-child(12) { background: $color12; }
      &:nth-child(13) { background: $color13; }
      &:nth-child(14) { background: $color14; }
      &:nth-child(15) { background: $color15; }
      &:nth-child(16) { background: $color16; }
      &:nth-child(17) { background: $color17; }
      &:nth-child(18) { background: $color18; }
      &:nth-child(19) { background: $color19; }
      &:nth-child(20) { background: $color20; }
    }

    .item {
      margin-bottom: 10px;


      label {
        display: inline-block;
        width: 20px;
      }

      span {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        font-size: 0;
        width: 20px;
        height: 20px;
      }
    }

    .item+.item {
      margin-left: 0;
    }
  }

  @media (min-width: $mq-md) {
    .l-flex {
      display: flex;

      .t {
        flex: 0 0 100px;
      }

      .cont {
        flex: 1;
      }
    }

    .colorset {
      button {
        width: 130px;
        font-size: 1rem;
      }

      .item {
        span {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  @media (min-width: $mq-lg) {
    .colorset {
      button {
        width: 180px;
        font-size: 1.1rem;
      }

      .item {
        span {
          width: 40px;
          height: auto;
          padding: 4px 10px;
          font-size: 1rem;
        }
      }
    }
  }
}
