// -----------------------------------------------------------------------------
// userview
// -----------------------------------------------------------------------------

.userview {
  .bg {
    position: relative;
    height: 150px;
    background-color: $black;

    &-img {
      @include full-pos;
      z-index: 2;
      background-size: 300px;
      background-repeat: no-repeat;
      background-position: 50% 20%;
      opacity: 0.5;
    }

    &-mask {
      @include full-pos;
      z-index: 4;
      background: linear-gradient(to right, $black 30%, rgba($black, 0) 50%, $black 70%);
    }
  }

  .detail {
    &-header {
      position: relative;
      display: flex;
      align-items: flex-end;
      z-index: 10;

      img {
        max-width: 100px;
        border-radius: $base-radius;
        box-shadow: $base-shadow;
      }

      .h {
        padding: 0 $gutter-sm;
        margin-bottom: 0;
      }
    }
  }

  &.has-hero {
    .detail {
      &-header {
        margin-top: -60px;
      }
    }
  }

  @media (min-width: $mq-md) {
    .bg {
      height: 300px;
      background-size: 500px;
    }

    .detail {
      &-header {
        img {
          max-width: 200px;
        }
      }
    }

    &.has-hero {
      .detail {
        &-header {
          margin-top: -220px;
        }
      }
    }
  }

  @media (min-width: $mq-lg) {
    .bg {
      height: 400px;

      &-img {
        background-size: 800px;
      }
    }

    &.has-hero {
      .detail {
        &-header {
          margin-top: -250px;
        }
      }
    }
  }
}
