// -----------------------------------------------------------------------------
// userlist
// -----------------------------------------------------------------------------

.userlist {
  position: relative;
  overflow-x: hidden;
  padding-top: $gutter-sm;
  @include scrollbars('.filter', 10px, $gray3, translate);

  .btn__filter {
    position: absolute;
    top: 15px;
    right: $gutter-sm;
  }

  .filter {
    position: fixed;
    top: $header-height;
    left: 0;
    right: 0;
    z-index: 10;
    overflow-y: scroll;
  }

  .list {
    padding-top: $gutter-sm * 2;
  }

  .table {
    min-width: $w-medium;

    &-wrap {
      overflow-x: scroll;
    }
  }

  @media (max-width: $mq-md) {
    .table {
      col, th, td {
        &:nth-child(1),
        &:nth-child(5) {
          display: none;
        }
      }
    }
  }

  @media (min-width: $mq-md) {
    .list {
      margin-left: 240px;
      padding: $gutter-md;
    }

    .filter {
      width: 240px;
      background: $base-bg-color;
      padding: $gutter-md;
      box-sizing: border-box;
      bottom: 0;

      &-toggle {
        position: fixed;
        display: block;
        left: 0;
        top: auto;
        bottom: 0;
        width: 240px;
        z-index: 100;
        text-align: right;

        img {
          padding: 15px 20px;
          height: 20px;
        }
      }
    }

    &.is-collapsed {
      .filter {
        width: 0;
        height: calc(100vh - #{$header-height});
        overflow: hidden;

        .item {
          display: none;
        }

        .filter-toggle {
          width: $gutter-md * 2;
        }
      }

      .list {
        margin-left: $gutter-md * 2;
      }
    }
  }
}
