// -----------------------------------------------------------------------------
// List
// -----------------------------------------------------------------------------

.userlist {
  @include scrollbars('.filter', 10px, $gray3, translate);

  .filter {
    position: fixed;
    height: calc(100vh - #{$header-height});
    left: 0;
    right: 0;
    overflow-y: scroll;
    background: $gray1;
    z-index: 10;

    .item {
      padding: 10px 5px;
      box-sizing: border-box;

      .t {
        display: inline-block;
        vertical-align: top;
        padding: 0 5px;
        font-weight: bold;
      }

      .btn {
        margin: 2px;
      }

      select,
      input[type=text] {
        margin: 2px;
        width: 100%;
      }
    }

    &-toggle {
      position: fixed;
      display: block;
      top: $header-height;
      right: 0;

      img {
        padding: 15px 20px;
        height: 20px;
      }
    }
  }

  .list {
    padding-top: $header-height + 20px;

    .table {
      min-width: $w-medium;

      &-wrap {
        overflow-x: scroll;
      }
    }
  }

  &.is-collapsed {
    .filter {
      height: $header-height;
      overflow: hidden;

      .item {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }
  }

  @media (min-width: $mq-md) {
    .filter {
      width: 240px;
      background: $base-bg-color;
      padding: $gutter-md;
      box-sizing: border-box;

      &-toggle {
        left: 0;
        top: auto;
        bottom: 0;
        width: 240px;
        z-index: 100;
        text-align: right;
      }
    }

    .list {
      margin-left: 240px;
      padding: $gutter-md;
    }

    &.is-collapsed {
      .filter {
        width: 0;
        height: calc(100vh - #{$header-height});

        .item {
          &:first-child {
            display: none;
          }
        }

        .filter-toggle {
          width: $gutter-md * 2;
        }
      }

      .list {
        margin-left: $gutter-md * 2;
      }
    }
  }
}
